* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.Container {
  width: 35%;
  min-width: 350px;
  margin: 1% auto;
  padding: 1%;
  background-color: blanchedalmond;
  border: 1px dotted black;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 2px lightgray;
}
.list {
  text-align: left;
  list-style: none;
  border: 1px solid grey;
  width: 100%;
  padding: 1%;
  margin: 1% auto;
  background-color: honeydew;
}
input {
  height: 40px;
  width: 100%;
  margin: 1% auto;
  padding: 2%;
}
textarea {
  width: 100%;
  padding: 2%;
}
select {
  cursor: pointer;
}
button {
  display: block;
  margin: 1% auto;
  background-color: lightgreen;
  width: 40%;
  height: 30px;
  font-size: 1rem;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
}
button:hover {
  border: 1px solid cyan;
}
label {
  text-align: left;
  display: block;
}
.tiny {
  padding: 2%;
  margin: 1% 0;
  width: 100%;
  height: 40px;
}

.done-task-input {
  margin-left: 1%;
  cursor: pointer;
}
